.centered-title {
    text-align: center;
  }
  
  .image-display {
    position: relative;
    margin-top: 20px;
  }
  
  .class-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .arrow-button:first-child {
    left: 0;
  }
  
  .arrow-button:last-child {
    right: 0;
  }
  