.section-container {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .section-content {
    display: flex;
    align-items: center;
  }
  
  .image-wrapper {
    flex: 0 0 50%;
    padding-right: 20px; /* Add padding to the right of the image */
  }
  
  .section-image {
    width: 100%; /* Make the image fill its container */
  }
  